
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  font-size:20px; 
}
body {
  background-image: url('favicon/Desktop_bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


div.head{
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 5px;
    font-weight: bolder;
  margin-top:25px;
}


/* Create four equal columns that floats next to each other */
.column {
    color: black;
  float: left;
  width: 15%;
  margin: 2%;
  background: rgba(43, 228, 236, 0.439);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
#special{
  background: #ff94f69a;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 350px) {
  .column {
    width: 90%;
  }
}


@media screen and (max-width: 800px) and (min-width:350px)  {
  .column {
    width: 40%;
    margin:3%; 
  }
  #lastc{
       Width:90%;
}
}

a.no {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
/*Dropdown*/
.column {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
    background-color:#ffffff;
  
  left:0px;
  min-width:100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; 
  border-bottom-left-radius:10px; 
  border-bottom-right-radius:10px; 
}

a.drp{
    text-decoration: none;
     font-size: 22px;
    color: #757ffb;
    text-shadow: 1px 1px #eda8a3;
}
p{
    padding: 10px;
    margin: 2px;
    transition: 0.5s;
}
p:hover{
    background:transparent;
    
}

.column:hover .dropdown-content {
  display: block;
}


span.start{
    font-size: 35px;
    color: #E4FB75;
    text-shadow: 2px 2px #eda8a3;
    letter-spacing: 3px;
}

span.end{

    font-size: 35px;
    color: #ff3847;
    text-shadow: 2px 2px #ae88f2d6;
    letter-spacing: 3px;
}
span.starth{
    font-size: 60px;
    color: #757ffb;
    text-shadow: 2px 2px #eda8a3;
}

span.endh{

    font-size: 60px;
    color: #ff3847;
    text-shadow: 2px 2px #ae88f2d6;
}
/*
.starts.drp{
    font-size: 22px;
    color: #757ffb;
    text-shadow: 2px 2px #eda8a3;
}

.ends.drp{

    font-size: 22px;
    color: #ff3847;
    text-shadow: 2px 2px #f28888;
}*/
